html, body {
    width: 100%;
    height: 100%;
    margin: 10;
}

body {
    background-color: transparent;
    -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -webkit-transform-style: preserve-3d;
}

.short_input {
	width:40px;
}

#tools {
	position:absolute;
	left:830px;
	top:10px;
}

.tool {
	border-style:dotted;
	border-width:thin;
	margin:5px;
	padding:5px;
}